@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato&display=swap');

/* ===== GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --brown: rgb(90, 0, 0);
  --darkbrown: rgb(50, 0, 0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  color: var(--darkbrown);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: none;
  color: whitesmoke;
  font-weight: bold;
  background-color: red;
}

.btn:hover {
  background-color: var(--darkbrown);
  cursor: pointer;
}

.card-img {
  width: 270px;
  height: 270px;
}

.alfa {
  font-family: 'Alfa Slab One', cursive;
}

.neue {
  font-family: 'Bebas Neue', cursive;
}

.red {
  color: red;
}

.underline {
  text-decoration: underline;
}

/* === NAV === */
#nav {
  position: fixed;
  height: 4.5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  background-color: rgba(255, 255, 255, 0.92);
}

.logo-img {
  height: 40px;
  width: 200px;
}

.navigations {
  display: flex;
}

.navigation {
  margin: 0 1.5rem;
  color: var(--darkbrown)
}

.navigation a {
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
}

.navigation a:hover {
  background-color: red;
  color: whitesmoke;
}

/* === HOME ===  */

#home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 768px;
  padding-left: 10%;
  background-image: url('../public/images/banner.png');
}

.headline {
  width: 40%;
}

.hl-top {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--brown)
}

.hl-mid {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--brown)
}

.hl-bottom {
  letter-spacing: 0.05rem;
  margin-bottom: 3rem;
}

.hl-order {
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
}

/* === PRODUCTS === */
#products {
  height: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10%;
}

#products h2 {
  margin-bottom: 1rem;
  color: var(--brown);
  font-size: 3rem;
  font-weight: bold;
}

#products p {
  margin-bottom: 5rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

.card:hover {
  border-radius: 1rem;
  box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.card-order {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

/* === ABOUT === */
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 768px;
  padding: 0 5%;
}

.about-left {
  width: 40%;
}

.about-left h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.about-left p {
  color: black;
  margin-bottom: 2rem;
  letter-spacing: 0.05rem;
}

.about-readmore {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.about-right {
  padding-right: 5rem;
}

.about-img {
  width: 550px;
  height: 550px;
}

/* === CONTACT === */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 768px;
  padding: 10rem 25% 0;
}

#contact h2 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  width: 100%;
}

.form * {
  height: 3rem;
  margin: 0.4rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(24, 23, 23);
  color: white;
  font-size: 1rem;
}

#contact .form textarea {
  height: 12rem;
}

.btn-form {
  background-color: red;
  font-weight: bold;
}

.btn-form:hover {
  background-color: black;
}

/* ==== MOBILE ==== */

@media screen and (max-width: 768px) {

  :root {
    font-size: 14px;
  }

  /* == NAV == */
  #nav {
    padding: 0 10%;
  }

  .logo-img {
    height: 30px;
    width: 150px;
  }

  .navigations {
    display: none;
  }

  /* == HOME == */
  #home {
    justify-content: center;
    padding-left: 0;
  }

  .headline {
    width: 80%;
    text-align: center;
  }

  /* == PRODUCT == */
  #products {
    height: auto;
    padding: 5rem 10%;
    text-align: center;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    margin: 3rem 0;
  }

  /* == ABOUT == */
  #about {
    justify-content: center;
    text-align: center;
  }

  .about-left {
    width: 100%;
  }

  .about-left h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .about-left p {
    font-size: 0.8rem;
    margin-bottom: 4rem;
  }

  .about-right {
    display: none;
  }

  /* == CONTACT == */
  #contact {
    padding: 10rem 10% 0;
    text-align: center;
  }

  #contact h2 {
    font-size: 2.5rem;
  }
}